<ao-fullpage [sections]="sections">
  <section class="fullpage-section" [id]="sections[0].url">
    <app-section [section]="sections[0]"></app-section>
  </section>
  <section class="fullpage-section" [id]="sections[1].url">
    <app-section [section]="sections[1]"></app-section>
  </section>
  <section class="fullpage-section" [id]="sections[2].url">
    <app-section [section]="sections[2]"></app-section>
  </section>
  <section class="fullpage-section" [id]="sections[3].url">
    <app-section [section]="sections[3]"></app-section>
  </section>
  <section class="fullpage-section" [id]="sections[4].url">
    <app-section [section]="sections[4]"></app-section>
  </section>
  <section class="fullpage-section-fit-content" [id]="sections[5].url">
    <app-section [section]="sections[5]"></app-section>
  </section>
</ao-fullpage>
