<app-fullpage [sections]="sections">
  <section class="fullpage-section" [id]="links[0].url">
    <app-section [section]="links[0]"></app-section>
  </section>
  <section class="fullpage-section" [id]="links[1].url">
    <app-section [section]="links[1]"></app-section>
  </section>
  <section class="fullpage-section" [id]="links[2].url">
    <app-section [section]="links[2]"></app-section>
  </section>
  <section class="fullpage-section" [id]="links[3].url">
    <app-section [section]="links[3]"></app-section>
  </section>
  <section class="fullpage-section" [id]="links[4].url">
    <app-section [section]="links[4]"></app-section>
  </section>
  <section class="fullpage-section-fit-content" [id]="links[5].url">
    <app-section [section]="links[5]"></app-section>
  </section>
</app-fullpage>
