.section {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: center;

  h1 {
    font-family: 'Avenir Next', sans-serif;
    font-weight: 800;
    font-size: 100px;
    color: #1b255d;
  }

  textarea {
    width: 700px;
    font-family: 'Avenir Next', serif;
    font-size: 16px;
    margin-bottom: 50px;
  }
}
