::ng-deep .fullpage {
  display: flex;
  flex-direction: column;
  margin: 0;

  .fullpage-section {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
  }

  .fullpage-section-fit-content {
    width: 100vw;
  }
}

::ng-deep body {
  padding: 0;
  margin: 0;

  &::-webkit-scrollbar { // sass-lint:disable-line no-vendor-prefixes
    width: 0;
  }
}
